
  <pio-dynamic-grid></pio-dynamic-grid>

<div fxLayout="row" fxLayoutGap="10px">
  <mat-icon color="warn" svgIcon="svghome"></mat-icon>
  <mat-icon color="primary" svgIcon="add"></mat-icon>
  <mat-icon color="primary" svgIcon="twitter"></mat-icon>
  <mat-icon color="primary" svgIcon="download"></mat-icon>
  <mat-icon color="primary">face</mat-icon>
  <!-- <i class="material-icons" color="primary">visibility</i>
  <i class="material-icons" svgIcon="add" color="warn">sasdasdasa</i> -->
</div>

<div fxLayout="column">
  <h1>Welcome to Pull it Off</h1>
  <pio-welcome [welcome-message]="WelcomeTo"></pio-welcome>

    <pio-animated-card></pio-animated-card>
  
  <div fxLayout="row">

      <pio-video-player 
        fxFlex="50"
        controls
        cross-origin
        controls-list="nodownload"
        plays-inline
        [video]="Video">
      </pio-video-player>
   
    <pio-video-list fxFlex [videos]="Videos"></pio-video-list>
  </div>
</div>
